__pycache__
.Rhistory
.Rapp.history
~$*

.idea/**
Temp/**
data/*
output/*
!data/autojoin-Benchmark/
!data/autojoin-Benchmark/*
!data/FlashFill/
!data/FlashFill/*




## Windows Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk
